.notes {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    height: 100%;
}

.open-note {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    background-color: var(--blue-100);
}

.icon {
    color: white;
    background-color: var(--dark-blue);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: clamp(1.2rem,4vw,1.8rem);
    font-weight: 500;
}

.note-heading {
    font-size: clamp(1.2rem,5vw,2rem);
}

.arrow-box img {
    width: 50%;
    margin-left: 1.5rem;
    margin-right: 0rem;
    cursor: pointer;
}

.main-content {
    background-color: var(--light-pink);
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
}

.main-content::-webkit-scrollbar {
    background-color: transparent;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 12px;
}

.note {
    gap: 1rem;
    display: flex;
}

.note p {
    margin: 0.2rem;
}

.date {
    width: 35%;
    color: var(--slate-darker);
    font-weight: 500;
}
.text {
    width: 65%;
    font-weight: 400;
}

.write-note {
    margin-top: auto;
    min-height: 20vh;
    padding: 1.5rem;
    background-color: var(--blue-100);
}

.write-note textarea {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid white;
    font-size: 1.2rem;
}

.write-note textarea::placeholder {
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.1rem;
}

.write-note textarea::-webkit-scrollbar {
    background-color: transparent;
}

.send {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
}

.send:hover {
    filter: invert(50%);
}

@media screen and (min-width: 550px) {
    .date {
        width: 20%;
       
    }
    .text {
        width: 80%;
    }
}

@media screen and (min-width: 1000px) {
    .arrow-box img {
        display: none;
    }
    .notes {
        min-height: 98dvh;
        height: 98%;
    }

    .write-note {
        border-bottom-left-radius: 15px;
    }

    .write-note textarea {
        border-radius: 9px;
    }
    .send {
        bottom: 3rem;
    }
}